body {
    background-size: cover;
}
.song {
    font-size: 20px;
}
.heading {
    font-size: 30px;
    width: 100%;
    margin: 0px;
}
.note {
    font-size: 20px;
    color: white;
}
canvas {
    margin-top: 70px;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}